.page-content {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.editors-container {
  display: flex;
  margin: 20px auto;
  width: 80%;
}

.editor-item {
  display: flex;
}

.step-editor-container__button {
  margin: 10px 10px 5px 0;
}

.menu-border {
  border: 1px solid var(--bs-secondary);
  margin: 5px;
}

.nav-link {
  padding: 0 10px 0 0;
}

.nav-item {
  display: flex;
  padding: 0.5rem 1rem;
}

p {
  padding: 0;
  margin: 0;
}

td {
  cursor: pointer;
}

.border-mixin {
  box-shadow: 0 0 10px grey;
  margin: 8px;
}

.bi-pencil {
  cursor: pointer;
}
